.settings-icon {
    position: fixed;
    top: 20px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
}

.settings-window {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #4c566a;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
    z-index: 9999;
}

.settings-window h2 {
    margin-top: 0;
    color: #8fbcbb;
}

.settings-window label {
    color: #eceff4;
}

.settings-window select {
    color: #4c566a;
}