# Ignore Node.js related files and folders
node_modules/
npm-debug.log

# Ignore development files
*.log
*.bak
*.swp
.DS_Store
Thumbs.db

# Ignore environment files
.env

# Ignore build and compiled files
/dist/
/build/
/out/
*.html
*.css
*.js
*.map

# Ignore package manager lock files
yarn.lock
package-lock.json

# Ignore caching and user-specific files
*.cache
*.log
npm-debug.log
yarn-error.log
yarn-debug.log*

# Ignore IDE specific files
.idea/
.vscode/
